<!DOCTYPE html>
<html>
    <header>
        <title>Teaching Software</title>
    </header>
    <body>
        <form action="/login" method="POST">
            <input placeholder="mail" type="email" name="logemail">
            <input placeholder="password" type="password" name="logpassword">
            <input type="submit" value="Login">
        </form>


        <form action="/" method="POST">
            <input placeholder="First Name" name="name" required>
            <input placeholder="Last Name" name="lastname">
            <input placeholder="Username" name="username" required>
            <input placeholder="Password" name="password" type="password" required>
            <input placeholder="Age" type="number" name="age" required>
            <input placeholder="Email" name="email" type="email" required>
            <input type="submit" value="Submit">
        </form>
        {% for user in users %}
        <div>{{ user.first_name + ':' + user.last_name + ':' + user.email }}</div>
        {% endfor %}
    </body>
</html>