<!DOCTYPE html>
<html>
    <header>
        <title>Teaching Software</title>
    </header>
    <body>
        <form action="/test" method="POST">
            <input placeholder="Teachers Name" name="teacher_name" required><br>
            <input placeholder="Test Name" name="test_name"> <br>
            <input placeholder="Number 1" name="num1"><br>
            <input placeholder="Number 2" name="num2"><br>
            <input placeholder="Answer" name="answer"><br>
        <input type="submit" value="Submit" >
        </form>

        {% for test in tests %}
        <div>{{ test.Teacher + ':' + test.Test_Name  +" : "  }} Created At {{ test.Created_At}}</div>
            {% for question in test.Questions %}
            <div>SKATA {{ question.Number_1 , " times ",  question.Number_2  ," equals ",   question.Answer }}</div>
            {% endfor %}
        {% endfor %}
    </body>
</html>